<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arezip.weconnect.mapper.admin.AdminRoomMapper">
<!-- 회의실 등록 -->
	<insert id="insertRoomInfo" parameterType="com.arezip.weconnect.model.dto.RoomDTO">
		insert into room values(room_seq.nextval, #{roomName})
	</insert>
	<!-- 회의실 리스트 -->
	<select id="getRoomList" resultType="com.arezip.weconnect.model.dto.RoomDTO">
		select room_id, room_name from room
	</select>
	<!-- 회의실 예약 리스트 -->
	<select id="getRoomReservList" resultType="com.arezip.weconnect.model.dto.RoomReservDTO">
		SELECT
			ROW_NUMBER() OVER (ORDER BY rr.room_reserv_id) AS room_reserv_id,
			r.room_name,
			m.member_name,
			rr.proposal,
			REGEXP_REPLACE(rr.room_reserv_date, '(.{4})(.{2})(.{2})', '\1-\2-\3') AS room_reserv_date,
			rr.room_reserv_start_time,
			rr.room_reserv_end_time - rr.room_reserv_start_time as room_reserv_end_time
		FROM
			room r JOIN room_reserv rr ON r.room_id = rr.room_id
			JOIN member m ON m.member_id = rr.member_id
	</select>
</mapper>