@import "../settings.part.less";

.cl-inputbox {
  border: 1px solid #bbb;
  background-color: #fff;
  text-align: left;
  color: #333;
  background-image: linear-gradient(#eee, white 3px);
}
.cl-inputbox .cl-text {
  display: block;
  width: calc(100% - 1px);
  height: 100%;
  border: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  text-align: inherit;
  text-decoration: inherit;
  outline: none;
}
.cl-inputbox .cl-text:disabled {
  opacity: 1;
}
.cl-inputbox .cl-text:-internal-autofill-selected + [data-role='placeholder'] {
  visibility: hidden;
}
.cl-inputbox .cl-inputbox-clear {
  width: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(icons/clear-button.png);
  background-origin: content-box;
  box-sizing: content-box;
  cursor: pointer;
}
.cl-inputbox .cl-placeholder {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cl-inputbox.cl-focus {
  border-color: #1369C5;
}
.cl-inputbox.cl-disabled {
  border-color: #ddd;
  background-image: none;
  background-color: #ccc;
  color: #666;
}
.cl-inputbox.cl-disabled .cl-inputbox-clear {
  background-image: url(icons/clear-button-disabled.png);
  cursor: default;
}
.cl-inputbox:not(.cl-disabled) .cl-inputbox-clear:hover {
  background-image: url(icons/clear-button-hover.png);
}
.cl-inputbox:not(.cl-disabled) .cl-inputbox-clear:active {
  background-image: url(icons/clear-button-hover.png);
  opacity: 70%;
}