<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arezip.weconnect.mapper.AttendanceMapper">

	<insert id="insertAttendance" parameterType="long">
		INSERT INTO
		attendance (attendance_id, work_in_time,
		work_day, member_id)
		VALUES
		(attendance_seq.NEXTVAL, SYSTIMESTAMP,
		TRUNC(SYSDATE),
		#{memberId})
	</insert>
	<!--퇴근 눌렀을 떄 값 들어감 -->
	<update id="updateAttendance">
		UPDATE attendance
		SET work_out_time = SYSTIMESTAMP
		WHERE work_out_time IS NULL AND member_id = #{memberId}
	</update>
	<select id="attendanceCheck" resultType="int" parameterType="long">
		SELECT COUNT(*)
		FROM WECONNECT.ATTENDANCE
		WHERE MEMBER_ID = #{memberId} AND WORK_DAY = TRUNC(SYSDATE)
	</select>
</mapper> 