<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arezip.weconnect.mapper.FreeBoardMapper">
	<!-- 자유게시판 리스트 조회 -->
	<select id="getFreeBoardList" resultType="com.arezip.weconnect.model.dto.FreeBoardDTO">
		select f.free_board_id as freeBoardId, f.free_board_title as
		freeBoardTitle,f.free_board_content as freeBoardContent,
		m.member_name as memberName, to_char(f.free_board_create,'YYYY-MM-DD') as
		freeBoardCreate
		from free_board f join member m
		on f.member_id = m.member_id
		order by free_board_id desc 
	</select>
	<!-- 자유게시판 상세 페이지 조회-->
	<select id="getFreeBoardDetail" resultType="com.arezip.weconnect.model.dto.FreeBoardDTO">
		SELECT
		f.free_board_id,
		f.free_board_title,
		f.free_board_content,
		f.free_board_create,
		f.free_board_views,
		f.free_board_file_name,
		m.member_name
		FROM free_board f JOIN member m ON f.member_id = m.member_id
		WHERE f.free_board_id = #{freeBoardId}
	</select>
	<!-- 자유게시판 댓글 조회 -->
	<select id="getFreeBoardComment" resultType="com.arezip.weconnect.model.dto.FreeBoardCommentDTO">
		SELECT
		    fbc.FREE_BOARD_COMMENT_ID,
		    fbc.MEMBER_ID,
		    m.MEMBER_NAME,
		    fbc.FREE_BOARD_COMMENT_CONTENT,
		    to_char( fbc.FREE_BOARD_COMMENT_DATE,'YYYY-MM-DD HH24:MI') as freeBoardCommentDate
		FROM
		    FREE_BOARD_COMMENT fbc
		INNER JOIN MEMBER m ON fbc.MEMBER_ID = m.MEMBER_ID
		WHERE fbc.FREE_BOARD_ID = #{freeBoardId}
		ORDER BY 
		    fbc.FREE_BOARD_COMMENT_ID DESC
	</select>
	<!-- 자유게시판 글 등록 -->
	<insert id="insertFreeBoard" parameterType="com.arezip.weconnect.model.dto.FreeBoardDTO">
		INSERT INTO free_board(free_board_id, free_board_title,
		free_board_content, free_board_file_name, member_id)
		VALUES (free_board_seq.nextval, #{freeBoardTitle}, #{freeBoardContent},
		<choose>
			<!-- 첨부 파일이 null이 아닌 경우 -->
			<when test="freeBoardFileName != null"> #{freeBoardFileName} </when>
			<!-- 첨부 파일이 null인 경우 -->
			<otherwise> NULL </otherwise>
		</choose>, #{memberId})
	</insert>
	<insert id="insertFreeBoardComment" parameterType="com.arezip.weconnect.model.dto.FreeBoardCommentDTO">
		insert into free_board_comment(free_board_comment_id,free_board_comment_content,member_id,free_board_id)
		values(free_board_comment_seq.nextval,#{freeBoardCommentContent},#{memberId},#{freeBoardId})
	</insert>
	<delete id="deleteFreeBoardComment" parameterType="com.arezip.weconnect.model.dto.FreeBoardCommentDTO">
		delete from free_board_comment where free_board_comment_id = #{freeBoardCommentId}
	</delete>
</mapper>