<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arezip.weconnect.mapper.MemberMapper">
	<!-- <insert id="register" parameterType="com.arezip.weconnect.model.dto.MemberDTO"> 
		INSERT INTO member (member_id, member_name, member_email, member_password, 
		position,department_id) VALUES (member_seq.NEXTVAL, #{memberName}, #{memberEmail}, 
		#{memberPassword}, #{position},#{departmentVO.departmentId}) </insert> -->
	<select id="findByDepartmentName"
		resultType="com.arezip.weconnect.model.dto.DepartmentDTO">
		select department_id AS departmentId, department_name AS
		departmentName from
		department
	</select>
	<!-- <select id="login" resultType="com.arezip.weconnect.model.dto.MemberDTO"> 
		SELECT member_name from member WHERE member_email= #{memberEmail} AND member_password=#{memberPassword} 
		</select> -->
	<select id="checkEmailExists" resultType="int"
		parameterType="String">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_EMAIL =
		#{memberEmail}
	</select>
	<insert id="insertMember"
		parameterType="com.arezip.weconnect.model.dto.MemberDTO">
		INSERT
		INTO
		MEMBER
		(
		MEMBER_ID,
		MEMBER_NAME,
		MEMBER_EMAIL,
		MEMBER_PASSWORD,
		POSITION,
		DEPARTMENT_ID,
		MANAGER_YN
		)
		VALUES(
		MEMBER_SEQ.NEXTVAL,
		#{memberName},
		#{memberEmail},
		#{memberPassword},
		#{position},
		#{departmentId},
		<choose>
			<when test="departmentId == 1"> 'Y' </when>
			<otherwise> 'N' </otherwise>
		</choose>
		)
	</insert>
	<select id="findByMemberEmail"
		resultType="com.arezip.weconnect.model.dto.MemberDTO"
		parameterType="String">
		SELECT
		MEMBER_ID,
		MEMBER_PASSWORD,
		MEMBER_STATUS
		FROM
		MEMBER
		WHERE
		MEMBER_EMAIL = #{memberEmail}
	</select>
	<select id="findRoleByMemberId" parameterType="long"
		resultType="char">
		SELECT
		MANAGER_YN
		FROM
		MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>
	<select id="findMemberName"
		resultType="com.arezip.weconnect.model.dto.MemberDTO" parameterType="long">
		SELECT m.member_name, m.position, d.department_name, m.LEAVE_COUNT,m.MANAGER_YN
		FROM member m
		INNER JOIN department d ON m.department_ID = d.department_id
		WHERE m.member_Id = #{memberId}
	</select>
</mapper>