<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arezip.weconnect.mapper.NoticeMapper">
	<select id="getNoticeList" resultType="com.arezip.weconnect.model.dto.NoticeDTO">
		select
		notice_id AS noticeId,
		notice_title AS noticeTitle,
		notice_content AS noticeContent,
		notice_category AS noticeCategory,
		TO_CHAR(notice_create, 'YYYY-MM-DD') AS noticeCreate
		from notice
		ORDER	BY notice_id DESC 	
	</select>
	<!-- 공지사항 검색 -->
	<select id="selectNoticesBySearchCriteria"
		parameterType="HashMap"
		resultType="com.arezip.weconnect.model.dto.NoticeDTO">
		select
		notice_id AS noticeId,
		notice_title AS noticeTitle,
		notice_content AS noticeContent,
		notice_category AS noticeCategory,
		TO_CHAR(notice_create, 'YYYY-MM-DD') AS noticeCreate
		from notice
		WHERE
		1=1
		<choose>
			<!-- 전체 검색일 경우 -->
			<when test="searchType == 'all'">
				AND (notice_title LIKE '%' || #{searchText} || '%' OR
				notice_category
				LIKE '%' || #{searchText} || '%')
			</when>
			<!-- 제목으로만 검색할 경우 -->
			<when test="searchType == 'title'">
				AND notice_title LIKE '%' || #{searchText} || '%'
			</when>
			<!-- 공지사항 분류로 검색할 경우 -->
			<when test="searchType == 'category'">
				AND notice_category LIKE '%' || #{searchText} || '%'
			</when>
		</choose>
		ORDER BY notice_create DESC
	</select>
</mapper>