/* 모든 컨트롤에 적용될 기본 폰트 */
/* 기본 텍스트 색상 */
/* disable 상태를 나타내는 텍스트 색상 */
/* 기본 보더 색상 */
/* 포커스 보더 색상 */
/* Disable 상태의 보더 색상. */
/* 내부에 아이템을 갖는 컨트롤의 경우, 각 아이템에 마우스 호버시의 텍스트 색상 */
/* 내부에 아이템을 갖는 컨트롤의 경우, 각 아이템에 마우스 호버시의 배경 색상 */
/* 내부에 아이템을 갖는 컨트롤의 경우, 각 아이템에 선택된 경우 텍스트 색상 */
/* 내부에 아이템을 갖는 컨트롤의 경우, 각 아이템이 선택된 경우 배경 색상 */
/* 내부에 아이템을 갖는 컨트롤이 Disabled된 경우, 각 아이템에 선택된 경우 텍스트 색상 */
/* 내부에 아이템을 갖는 컨트롤의 Disabled된 경우, 각 아이템이 선택된 경우 배경 색상 */
/* 캘린더 */
.cl-calendar.main-calendar {
  background-color: #ffffff;
  border: 1px solid #babfc7;
  border-radius: 5px;
  /* 이전 년도 버튼 */
  /* 다음 년도 버튼 */
  /* 이전 달 버튼 */
  /* 다음 달 버튼 */
  /* 캘린더 헤더 */
  /* 캘린더 컨텐츠의 일, 월, 년 스타일 */
  /* 캘린더 컨텐츠 스타일 */
  /* 캘린더 푸터 날짜 호버 스타일 */
  /* 캘린더 푸터 */
  /* font-size로 디테일과 날짜와의 간격을 설정합니다. */
  /* font-size로 이벤트 막대와의 간격을 설정합니다. 막대의 height보다 커야 합니다. */
  /* height로 막대의 높이를 설정합니다. */
  /* 캘린더 아이템, 기념일 스타일 */
  /* 기념일을 표시하는 캘린더 스타일 */
  /* 포커스 상태 */
  /* 데이트인풋 등에 팝업으로 나타날때 스타일 */
}
.cl-calendar.main-calendar:not(.cl-disabled) .cl-calendar-header-before {
  /* 호버 상태 */
}
.cl-calendar.main-calendar:not(.cl-disabled) .cl-calendar-header-prev:hover,
.cl-calendar.main-calendar:not(.cl-disabled) .cl-calendar-header-prev.cl-hover {
  background-image: url("https://edu.tomatosystem.co.kr/sample/theme/asset/images/ctl/calendar/icon-chevron-left.svg");
}
.cl-calendar.main-calendar:not(.cl-disabled) .cl-calendar-header-next:hover,
.cl-calendar.main-calendar:not(.cl-disabled) .cl-calendar-header-next.cl-hover {
  background-image: url("../../../../images/controls/calendar/icon-chevron-right-on.svg");
}
.cl-calendar.main-calendar .cl-calendar-header {
  background-color: transparent;
  /* 이전 년도 버튼 */
  /* 다음 년도 버튼 */
  /* 이전 달 버튼 */
  /* 다음 달 버튼 */
  /* 헤더 텍스트 */
}
.cl-calendar.main-calendar .cl-calendar-header .cl-calendar-header-before {
  min-width: 0px;
  width: 0px;
  visibility: hidden;
}
.cl-calendar.main-calendar .cl-calendar-header .cl-calendar-header-after {
  min-width: 0px;
  width: 0px;
  visibility: hidden;
}
.cl-calendar.main-calendar .cl-calendar-header .cl-calendar-header-prev {
  background-image: url("https://edu.tomatosystem.co.kr/sample/theme/asset/images/ctl/calendar/icon-chevron-left.svg");
}
.cl-calendar.main-calendar .cl-calendar-header .cl-calendar-header-next {
  background-image: url("https://edu.tomatosystem.co.kr/sample/theme/asset/images/ctl/calendar/icon-chevron-right.svg");
}
.cl-calendar.main-calendar .cl-calendar-header .cl-calendar-header-text {
  color: #333333;
  font-weight: bold;
  font-size: 16px;
}
.cl-calendar.main-calendar .cl-calendar-header .cl-calendar-header-text:hover,
.cl-calendar.main-calendar .cl-calendar-header .cl-calendar-header-text.cl-hover {
  color: #3f87fd;
}
.cl-calendar.main-calendar:not(.cl-disabled) .cl-calendar-content-day,
.cl-calendar.main-calendar:not(.cl-disabled) .cl-calendar-content-month,
.cl-calendar.main-calendar:not(.cl-disabled) .cl-calendar-content-year,
.cl-calendar.main-calendar:not(.cl-disabled) .cl-other-month {
  border-radius: 5px;
  /* 셀 호버 스타일 */
  /* 셀 숨김 스타일 */
  /* 선택된 날짜 셀 */
}
.cl-calendar.main-calendar:not(.cl-disabled) .cl-calendar-content-day:not(.cl-disabled):hover,
.cl-calendar.main-calendar:not(.cl-disabled) .cl-calendar-content-month:not(.cl-disabled):hover,
.cl-calendar.main-calendar:not(.cl-disabled) .cl-calendar-content-year:not(.cl-disabled):hover,
.cl-calendar.main-calendar:not(.cl-disabled) .cl-other-month:not(.cl-disabled):hover {
  background-color: #f8f8fa;
  color: #3f87fd;
}
.cl-calendar.main-calendar:not(.cl-disabled) .cl-calendar-content-day.cl-selected,
.cl-calendar.main-calendar:not(.cl-disabled) .cl-calendar-content-month.cl-selected,
.cl-calendar.main-calendar:not(.cl-disabled) .cl-calendar-content-year.cl-selected,
.cl-calendar.main-calendar:not(.cl-disabled) .cl-other-month.cl-selected {
  background-color: transparent;
  color: #ffffff;
}
.cl-calendar.main-calendar .cl-calendar-content {
  /* week of year의 스타일 */
  /* 날짜 달력의 헤더 스타일 */
  /* 날짜 선택 모드시 날짜 스타일 */
  /* 이전 달 또는 다음 달의 날짜 */
}
.cl-calendar.main-calendar .cl-calendar-content .cl-calendar-content-header {
  background-color: transparent;
  font-weight: bold;
}
.cl-calendar.main-calendar .cl-calendar-content .cl-calendar-content-day {
  /* 일요일 셀 */
  /* 토요일 셀 */
}
.cl-calendar.main-calendar .cl-calendar-content .cl-other-month {
  background-color: transparent;
  color: #c0c0c0;
  /* 비활성화 상태 */
}
.cl-calendar.main-calendar .cl-calendar-content .cl-other-month.cl-disabled {
  background-color: transparent;
  color: #c0c0c0;
}
.cl-calendar.main-calendar .cl-calendar-content .cl-calendar-content-day,
.cl-calendar.main-calendar .cl-calendar-content .cl-calendar-content-month,
.cl-calendar.main-calendar .cl-calendar-content .cl-calendar-content-year {
  /* 기본 날짜 - 오늘 날짜 셀 */
  /* range 선택에서 선택된 날짜 스타일 */
  /* 기념일 전역 스타일 */
}
.cl-calendar.main-calendar .cl-calendar-content .cl-calendar-content-day.cl-calendar-defaultdate,
.cl-calendar.main-calendar .cl-calendar-content .cl-calendar-content-month.cl-calendar-defaultdate,
.cl-calendar.main-calendar .cl-calendar-content .cl-calendar-content-year.cl-calendar-defaultdate {
  color: #3f87fd;
}
.cl-calendar.main-calendar .cl-calendar-content .cl-calendar-content-day.cl-range-selected,
.cl-calendar.main-calendar .cl-calendar-content .cl-calendar-content-month.cl-range-selected,
.cl-calendar.main-calendar .cl-calendar-content .cl-calendar-content-year.cl-range-selected {
  background-color: #3f87fd;
  color: #ffffff;
}
.cl-calendar.main-calendar .cl-calendar-content .cl-calendar-content-day.cl-selected,
.cl-calendar.main-calendar .cl-calendar-content .cl-calendar-content-month.cl-selected,
.cl-calendar.main-calendar .cl-calendar-content .cl-calendar-content-year.cl-selected {
  background-color: #3f87fd;
  color: #ffffff;
}
.cl-calendar.main-calendar:not(.cl-disabled) .cl-calendar-footer-text:hover {
  color: #c0c0c0;
}
.cl-calendar.main-calendar .cl-calendar-footer {
  background-color: #f2f4f6;
  border-radius: 5px;
  font-size: 13px;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}
.cl-calendar.main-calendar .cl-calendar-footer .cl-calendar-footer-text {
  color: #333333;
}
.cl-calendar.main-calendar .cl-calendar-item,
.cl-calendar.main-calendar .cl-anniversary,
.cl-calendar.main-calendar .cl-calendar-more {
  /* line-height로 텍스트의 위치를 정렬합니다. height와 값이 같으면 가운데 정렬입니다. */
}
.cl-calendar.main-calendar .cl-calendar-item,
.cl-calendar.main-calendar .cl-anniversary {
  /* 숨김 상태 */
  /* 선택 상태 */
}
.cl-calendar.main-calendar.cl-anniversaries {
  /* 년월일 달력 스타일 */
}
.cl-calendar.main-calendar.cl-anniversaries .cl-calendar-content-day,
.cl-calendar.main-calendar.cl-anniversaries .cl-other-month.cl-calendar-content-mon,
.cl-calendar.main-calendar.cl-anniversaries .cl-other-month.cl-calendar-content-tue,
.cl-calendar.main-calendar.cl-anniversaries .cl-other-month.cl-calendar-content-wed,
.cl-calendar.main-calendar.cl-anniversaries .cl-other-month.cl-calendar-content-thu,
.cl-calendar.main-calendar.cl-anniversaries .cl-other-month.cl-calendar-content-fri,
.cl-calendar.main-calendar.cl-anniversaries .cl-other-month.cl-calendar-content-sat,
.cl-calendar.main-calendar.cl-anniversaries .cl-other-month.cl-calendar-content-sun {
  /* 기념일 텍스트 스타일 */
}
.cl-calendar.main-calendar.cl-focus {
  border-color: #1369C5;
}
.cl-calendar.main-calendar.cl-focus .cl-calendar-content {
  /* 키보드 날짜 이동 스타일 */
}
.cl-calendar.main-calendar.cl-focus .cl-calendar-content .cl-calendar-current {
  box-shadow: inset 0px 0px 0px 2px rgba(63, 135, 253, 0.5);
}
.cl-calendar.main-calendar.cl-popup {
  /* 년도 캘린더 */
  /* 년월 캘린더 */
  /* 년월일 캘린더 */
  /* 데이트인풋 위에 표시될때 상태 */
  /* 데이트인풋 아래에 표시될때 상태 */
}
.cl-calendar.main-calendar.cl-popup .cl-calendar-content-day,
.cl-calendar.main-calendar.cl-popup .cl-calendar-content-month,
.cl-calendar.main-calendar.cl-popup .cl-calendar-content-year {
  /* 데이트인풋 캘린더 키보드로 날짜 이동 스타일  */
}
/* 캘린더 disabled 상태 */
